#header {
  background-color: purple;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: start;
}
button {
  background-color: cyan;
  width: 100px;
  height: 30px;
  margin: 10px;
}
#container {
  margin: 80px 100px 10px 100px;
  height: 500px;
  display: flex;
  display: flex-grow;
}
#main {
  background-color: yellow;
  flex-grow: 4;
}
#aside {
  background-color: lime;
  flex-grow: 1;
}
#footer {
  background-color: lightgrey;
  height: 80px;
  margin: 0 100px 10px 100px;
}